{% extends "base.html" %}

{% block title %}Main page{% endblock %}

{% block content %}
<div class="flex-container">
  <div class="order_details">
    <div class="order_title">
      <h2 class="orders_title">Order details</h2>
    </div>
      <div class="order_list">
        {% if number_of_dishes == 0 %}
            <p>Order is empty, please add some dishes</p>
        {% else %}
            {% for dish_count in dishes_count %}
                <p>{{ dish_count.dish_in_order__title }} x {{ dish_count.count }}
                    {{ dish_count.dish_in_order__price }}$ <i class="fas fa-times"></i></p>
            {% endfor %}
      {% endif %}
      <hr>
      <p>Total Price: {{ total_price }}</p>
      </div>
  </div>
  <div class="dishes">
    <h2 class="dishes_title">Dishes</h2>
      {% for dish in dishes %}
    <div class="dishes_block">
              {% if dish.category == 'food' %}
              <div class="dishes_food">
                  <i class="fas fa-utensils fa-3x" style="float: left"></i>
              {% elif dish.category == 'drink' %}
              <div class="dishes_drink">
                <i class="fas fa-coffee fa-3x" style="float: left"></i>
              {% endif %}
                <p>{{ dish.title }}</p><hr>
              </div>
          <p>Price: {{ dish.price }} $</p>
    </div>
    {% endfor %}
  </div>
</div>
</div>
{% endblock %}