{% extends "base.html" %}

{% block title %}Main page{% endblock %}

{% block content %}
<div class="flex-container">
  <div class="order_details">
    <div class="order_title">
      <h2 class="orders_title">Order details</h2>
    </div>
      <div class="order_list">
        {% if not dish_orders %}
            <p>Order is empty, please add some dishes</p>
        {% else %}
          {% for dish in dish_orders %}
            <span>{{ dish.dish_in_order__title }} x {{ dish.qty }} {{ dish.dish_in_order__price }}
              <form action="{% url 'orders_main_page' order_id %}" method="post">{% csrf_token %}<button class="fas
            fa-times" name="dish_delete" value="{{ dish.id }}"></button></form></span>
          {% endfor %}
                  <hr>
          <p>Total Price: {% firstof total_price 0 %} $</p>
            <form action="/" method="get"><button class="btn btn-success">to order</button></form></span>
        {% endif %}
      </div>
  </div>
  <div class="dishes">
    <h2 class="dishes_title">Dishes</h2>
      {% for dish in dishes %}
    <div class="dishes_block">
              {% if dish.category == 'food' %}
              <div class="dishes_food">
                  <i class="fas fa-utensils fa-3x" style="float: left"></i>
              {% elif dish.category == 'drink' %}
              <div class="dishes_drink">
                <i class="fas fa-coffee fa-3x" style="float: left"></i>
              {% endif %}
                <p>{{ dish.title }}</p><hr>
              </div>
          <p>Price: {{ dish.price }} $</p>
        <form action="{% if not order_id %}/{% else %}{% url 'orders_main_page' order_id %}{% endif %}" method="post">
            {% csrf_token %}
          <button class="btn btn-secondary" name="dish_id" value="{{ dish.id }}">Add to cart</button>
        </form>
    </div>
    {% endfor %}
  </div>
</div>
</div>
{% endblock %}