{% extends 'base.html' %}

{% block title %} Order #{{ order.id }} {% endblock %}

{% block content %}
    <div class="detail_check"> 
        <h2> Order # {{ order.id }} </h2>
        {% for dish in order.order_dishes.all %}
        <p> {{ dish.dish_in_order.title }} x {{ dish.qty }} {{ dish.dish_in_order.price }} $ </p>
        {% endfor %}
        <hr class="line-check">
        <h5> Total sum: {{ total_sum }} $ </h5>
          {% ifequal order.completed_order 0 %}
          <form class="text-left" action="{% url "complete_gateway" order.pk %}" method="post">
                {% csrf_token %}
                <button class="btn btn-success" name="isComplete" value="True">Complete</button>
          </form>
          {% else %}
          <button class="btn btn-secondary" disabled>Completed</button>
          {% endifequal %}
    </div>
{% endblock %}