body {
    font-family: arial, sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

nav{
    margin-bottom: 50px;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;

}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 20px;
}
div.order_details{
    width: 50%;
}
div.dishes{
    width: 100%;
}

h2.orders_title, h2.dishes_title{
    padding-top: 30px;
}


div.order_block, div.dishes_block{
    display: inline-block;
    width: 40%;
    border-style: solid;
    border-color: black;
    margin: 20px;
}
div.order_list{
    margin: 50px;
}

hr{
    size: 2px;
}
i{
    padding: 10px;
}

div.dishes_food{
    background: darkorange;
}

div.dishes_drink{
    background: darkseagreen;
}

button.main_page_button{
    border: 0;
    background: transparent;
    padding: 0;
    margin: 0;
}
div.flex_mainpage{
    display: flex;
    justify-content: space-between;
}

button.complete_button{
    float: right;
}