body {
    font-family: arial, sans-serif;
}
.container {
    width: 1200px;
    margin: 0 auto;
}

nav{
    margin-bottom: 50px;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;

}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  height: 20rem;
}
div.order_details{
    width: 50%;
}
div.dishes{
    width: 100%;
}

h5.orders_title, h5.dishes_title{
    padding-top: 30px;
}

div.order_block{
    display: inline-block;
    width: 45%;
    border-style: solid;
    border-color: black;
    margin-bottom: 20px;
}